* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: normal;
  background: none;
  font-size: 0.9rem;
}
input:focus {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.25rem;
  border-radius: 0.4166666667rem;
  border: none;
  color: #80807f;
  background-color: #dfdfdf;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 0.9rem;
}

p {
  font-size: 0.85rem;
}

html, body {
  background-color: #fafaf9;
  width: 100%;
  height: 100%;
}

body {
  color: #1d1d1c;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0.5rem;
  padding-bottom: 2rem;
}

.login-dialog {
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  min-width: 320px;
  max-width: 40ch;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  padding: 2rem;
}
.login-dialog p {
  color: #8d8d8c;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 0.5rem;
}

.blurry {
  filter: blur(3px) grayscale(100);
}

.red .display {
  border-bottom: 4px solid #ac1010 !important;
}

.green .display {
  border-bottom: 4px solid #10ac4c !important;
}

#entry-form {
  grid-column: 1/-1;
  z-index: 10;
  position: sticky;
  top: 0.5rem;
  overflow: hidden;
  border-radius: 0.7142857143rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#entry-form .display {
  border-bottom: 4px solid transparent;
  position: relative;
  flex: 1;
  padding: 0.3rem 0.6rem;
  color: #fafaf9;
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transition: border 0.35s ease-in-out;
}
#entry-form .display #display-amount {
  text-align: right;
  font-size: 2rem;
}
#entry-form .display ::placeholder {
  color: #8d8d8c;
}
#entry-form .display .notes, #entry-form .display .date {
  width: 100%;
}
#entry-form .display .date {
  position: relative;
  opacity: 0.5;
}
#entry-form .categories-selector {
  display: flex;
}
#entry-form .categories-selector label {
  position: relative;
  padding: 0.35rem;
  flex: 1;
  background-color: #dfdfdf;
  font-size: 1.5rem;
  display: grid;
  justify-items: center;
  align-items: center;
}
#entry-form .categories-selector label input[type=radio] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.element {
  gap: 0.5rem;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  color: #80807f;
  background: #dfdfdf;
  border-radius: 0.7142857143rem;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}
.element * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.element ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  margin-bottom: 0.2rem;
  padding-bottom: 0.1rem;
}
.element ol * {
  flex: 1;
}
.element ol > :last-child {
  flex: 2;
}
.element ul {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}
.element ul li {
  padding: 0.25rem 0.5rem;
  border-radius: 0.4166666667rem;
  background-color: #d4d4d3;
  display: flex;
  flex-flow: column;
}
.element ul li p {
  align-self: flex-end;
}
.element .list {
  display: grid;
  grid-auto-rows: 1.75rem;
  max-height: calc(1.75rem * 10);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.element .list > div {
  scroll-snap-align: start;
}
.element .list > * {
  border-radius: 0.3125rem;
}
.element .list > :nth-child(odd) {
  background-color: #d4d4d3;
}
.element .list .selected {
  color: white !important;
  background-color: #1067de !important;
}
.element .list .entry {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.element .list .entry::-webkit-scrollbar {
  display: none;
}
.element .list .entry > * {
  scroll-snap-align: start;
}
.element .list .entry .delete {
  z-index: 9;
  position: absolute;
  width: 2rem;
  height: 100%;
  right: 0;
  transform: translateX(100%);
}
.element .list .entry p {
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.element .list .entry .icon {
  margin-top: -1px;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
}

.copyright {
  width: 100%;
  color: #80807f;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

footer {
  margin-top: 1rem;
  color: #80807f;
}

.hidden {
  visibility: hidden;
}

.highlighted {
  background-color: #d4d4d3 !important;
}

.invisible {
  visibility: hidden;
  display: none;
}

.description {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
}

/*# sourceMappingURL=App.css.map */
