* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: normal;
  background: none;
  font-size: 0.9rem;
  overflow-x: scroll;
}
input:focus {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.25rem;
  border-radius: 0.4166666667rem;
  border: none;
  color: #80807f;
  background-color: #dfdfdf;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 0.9rem;
}

p {
  font-size: 0.85rem;
}

html, body {
  background-color: #fafaf9;
  width: 100%;
  height: 100%;
}

body {
  color: #1d1d1c;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0.5rem;
  padding-bottom: 2rem;
}

.login-dialog {
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  min-width: 320px;
  max-width: 40ch;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  padding: 2rem;
}
.login-dialog p {
  color: #8d8d8c;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 0.5rem;
  transition: filter 1s;
}

.blurry {
  filter: blur(3px) grayscale(100);
}

#entry-form {
  grid-column: 1/-1;
  z-index: 10;
  position: sticky;
  top: 0.5rem;
  overflow: hidden;
  border-radius: 0.7142857143rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#entry-form .display {
  position: relative;
  flex: 1;
  padding: 0.3rem 0.6rem;
  color: #fafaf9;
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
#entry-form .display input {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#entry-form .display #display-amount {
  flex: 1;
  text-align: right;
  font-size: 2rem;
}
#entry-form .display ::placeholder {
  color: #8d8d8c;
}
#entry-form .display .notes, #entry-form .display .date {
  width: 100%;
}
#entry-form .display .date {
  position: relative;
  opacity: 0.5;
}
#entry-form .categories-selector {
  display: flex;
}
#entry-form .categories-selector label {
  position: relative;
  padding: 0.35rem;
  flex: 1;
  background-color: #dfdfdf;
  font-size: 1.5rem;
  display: grid;
  justify-items: center;
  align-items: center;
}
#entry-form .categories-selector label input[type=radio] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.element {
  gap: 0.5rem;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  color: #80807f;
  background: #dfdfdf;
  border-radius: 0.7142857143rem;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}
.element ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  margin-bottom: 0.2rem;
  padding-bottom: 0.1rem;
}
.element ol * {
  flex: 1;
}
.element ol > :last-child {
  flex: 2;
}
.element ul {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}
.element ul li {
  padding: 0.25rem 0.5rem;
  border-radius: 0.4166666667rem;
  background-color: #d4d4d3;
  display: flex;
  flex-flow: column;
}
.element ul li p {
  align-self: flex-end;
}
.element .list {
  display: grid;
  grid-auto-rows: 1.75rem;
}
.element .list > :nth-child(odd) {
  background-color: #d4d4d3;
  border-radius: 0.3125rem;
}
.element .list .entry {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.element .list .entry::-webkit-scrollbar {
  display: none;
}
.element .list .entry > * {
  scroll-snap-align: start;
}
.element .list .entry .delete {
  z-index: 9;
  position: absolute;
  width: 2rem;
  height: 100%;
  right: 0;
  transform: translateX(100%);
}
.element .list .entry p {
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.element .list .entry .icon {
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
}

footer {
  margin-top: 1rem;
  color: #80807f;
}

.hidden {
  visibility: hidden;
}

.highlighted {
  background-color: #d4d4d3 !important;
}

.invisible {
  visibility: hidden;
  display: none;
}

/*# sourceMappingURL=App.css.map */
